.profile-dropdown{
    background-color: rgba(220, 150, 20, 0.803);
}
.topbar{
    /* background-color: rgb(138, 43, 226, 0.4); */
    display: flex;
    justify-content: space-between;
}
.user{
    margin: 10px;
}
.signup{
    background-color: orange;
    border-radius: 2px;
}
.topimg{
    position: relative;
    left: 10%;
    z-index: -1;
}
